[[source]]
url = "http://devpi.internal/root/pypi/+simple/"
verify_ssl = false
name = "pip_conf_index_install"

[packages]
bs4 = "*"
requests = "*"
lxml = "*"
requests-cache = "*"
flask = "*"
gunicorn = "*"
feedgen = {ref = "fix-link-bug", git = "git+https://github.com/larsks/python-feedgen"}

[dev-packages]

[requires]
python_version = "3.12"
